# Tratar los archivos encriptados de ionCube como binarios para evitar que Git corrompa los saltos de línea (CRLF)
wp-content/plugins/wpcargo-custom-field-addons/**/*.php binary
wp-content/plugins/wpcargo-frontend-manager/**/*.php binary
wp-content/plugins/wpcargo-receiving/**/*.php binary
wp-content/plugins/wpcargo-address-book/**/*.php binary
wp-content/plugins/wpcargo-api/**/*.php binary
# Proteger todos los archivos PHP de los plugins de WPCargo
wp-content/plugins/wpcargo*/**/*.php binary
# Por si acaso, proteger también el tema si es de ellos
wp-content/themes/wpcargo*/**/*.php binary
# Forzar tratamiento binario para evitar conversión LF -> CRLF
wp-content/plugins/wpcargo*/**/*.tpl.php binary
