wp-config.php
.htaccess
wp-content/cache/
# Ignorar respaldos temporales de actualizaciones
wp-content/upgrade-temp-backup/
wp-content/upgrade/
wp-content/backup-db/

# Ignorar archivos comprimidos
*.zip
*.tar.gz

# Ignorar logs
*.log

# Opcional: Ignorar imágenes subidas (recomendado para que el repo no pese GBs)
wp-content/uploads/
# Ignorar archivos PDF generados por WPCargo
wp-content/plugins/wpcargo-frontend-manager/admin/includes/file-container/*.pdf

# Ignorar archivos temporales de edición
*.save
*.bak	
